<?xml version="1.0"?>

<launch>
  <include file="/home/joristillen/Desktop/hector_quadrotor_tuto/src/leader_follower/worlds/Voliere_sans_plafond/start.launch">
   <arg name="world" value="/home/joristillen/Desktop/hector_quadrotor_tuto/src/leader_follower/worlds/Voliere_sans_plafond/voliere.world"/> 
  </include>

</launch>
