<?xml version="1.0"?>

<launch>
  <node name="commande_leader" pkg="simulation" type="commande_leader" />

  <group ns="uav1">
     <node name="cfdrone_3B" pkg="crazyflie2" type="cfdrone_3B" />
  </group>

<!--
  <group ns="uav2">
	<node name="drone2" pkg="lf_crazyflie" type="drone2" />
  </group>
-->

</launch>
